<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Language" content="pt-br">
        <meta http-equiv="Content-Type" content="text/html" />
    </head>
    <body>
        <div>
            <table style="border-collapse: collapse;">
                <tr>
                    <th style="text-align: center; border:1px solid;"></th>
                    <th style="text-align: center; border:1px solid;">Produto</th>
                    <th style="text-align: center; border:1px solid;">Preço</th>
                    <th style="text-align: center; border:1px solid;">Quantidade</th>
                </tr>
                #foreach($produtoComprado in $produtos)
                    #set ($totalPorProduto = $produtoComprado.produto.valor * $produtoComprado.quantidade)
                    <tr>
                        <td style="text-align: center; border:1px solid;"><img src="$produtoComprado.produto.pathImagem" height="80"></td>
                        <td style="text-align: center; border:1px solid;">$produtoComprado.produto.nome - $produtoComprado.produto.capacidade</td>
                        <td style="text-align: center; border:1px solid;">$number.format("currency", $totalPorProduto)</td>
                        <td style="text-align: center; border:1px solid;">$produtoComprado.quantidade</td>
                    </tr>
                #end
            </table>
            <span>Total: $number.format("currency", $total)</span>
        </div>
    </body>
</html>
